/* ------------------------------------- */

@font-face {
	font-family: Tahoma;
	font-style:  normal;
	font-weight: normal;
	src: url(OFBARCO0.eot);
}

html {
	margin: 0px;
}

body {
	font-family: Tahoma;
	font-size: 11pt;
	margin: 0px;
}

span {
    font-size: 11pt;
    font-family: Tahoma;
}
sup {
	font-size: 7pt;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

div.newpage {
	page-break-before: always;
}

#plantilla
{
    font-family: Tahoma;
    font-size: 11pt;
    text-align: justify;
    letter-spacing: -0.4pt; /*margin-bottom: 24pt;*/
    width: 21cm;
    height: 21cm;
    margin: 25pt;
    page-break-after: always;
}

#plantilla h1
{
    margin-top: 8pt;
    margin-bottom: 0pt;
    font-size: 16pt;
    font-weight: bold;
    color: Black;
    text-align: center;
}

#plantilla h2 {
	margin-top: 8pt;
	margin-bottom: 8pt;
	font-size: 12pt;
	font-weight: bold;
	color: Black
}

#plantilla h3 {
	margin-top: 12pt;
	margin-bottom: 8pt;
	font-size: 12pt;
	font-weight: bold;
	color: Black;
}

#plantilla h4 {
	margin-top: 0pt;
	margin-bottom: 8pt;
	font-size: 11pt;
	font-weight: normal;
	color: Black;
}

#plantilla ul {
	margin-top: 8pt;
	margin-bottom: 8pt;
	margin-left: 0px;
	/*list-style-type: none;*/
}

#plantilla ol {
	margin-left: 0px;
	list-style-type: decimal;
	list-style-position: inside;
}

#plantilla ol.letras {
	margin-left: 0px;
	list-style-type: lower-alpha;
	list-style-position: inside;
}

#plantilla p {
	margin-top: 8pt;
	margin-bottom: 8pt;
}

#plantilla span.inputField {
	background-color: #c0c0c0;
}

#plantilla span.important {
	font-weight: bold;
	text-decoration: underline;
}

#plantilla div.singlecolumn {
	width: 21cm;
}

#plantilla div.alineacionDerecha
{
    width: 99%;
    text-align: right;
}

/* ------------------------------------- */