<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    
	<configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821" />
    </configSections>
	
    <connectionStrings>
	</connectionStrings>	
    <system.web>
        <compilation targetFramework="4.0" />
        <globalization culture="es-AR" uiCulture="es-AR" requestEncoding="UTF-8" responseEncoding="UTF-8" />
		<httpRuntime requestValidationMode="2.0" />
		
        <customErrors mode="Off">
            <!--<error statusCode="404" redirect="~/FrontEnd/NotFound.html"/>-->
        </customErrors>     
		
        <authentication mode="Forms">
            <forms name=".ASPXAUTH" loginUrl="~/Login/Login.aspx" defaultUrl="~/Login/Login.aspx" protection="All" timeout="30" />
        </authentication>
        <authorization>
            <deny users="?" />
        </authorization>        
    </system.web>

	<appSettings>        
        <add key="nhibernateConfiguration" value="O0uUyKXkY1w5ntCY6Uo7sJofFWhRpvd5mwtwUnpAjqxdA+But+IMoxUvFbPl1VJnZGFk59dWhPZUwQPXcItu87XA5SoxYbz7RD0RZQEcNnoNa6YJp3efRGIAns8V8C2W1WJSmuQCN+z56v6C/duKKQYURzLFbhwioYOj+jHknqM=" />
		<add key="ParametricasInvocarWS" value="SI" />
		
		<add key="PrintWS" value="http://ceifyc.com.ar/Registracion/WebPrint.asmx" />
		
		<add key="LicenciaConversorPdf" value="V3xld2Zid2Zld2B5Z3dkZnlmZXlubm5u" />
		<add key="ProcesarTemplateEnMemoria" value="true" />
		<add key="VirtualPathUserFiles" value="D:\Vistas\14.bhdexv2.mant\bhdexv2\appl\BH.DuenosExpress.Solution\BH.DuenosExpress.Web\ModuloFormularioTC\userfiles" />
    
    </appSettings>
	
    <log4net>
        <threshold value="ALL" />
        <appender name="ErrorFileAppender" type="log4net.Appender.FileAppender">
            <file value="Archivos/Log/pome.SysGEIC.Errores.log" />
            <appendToFile value="true" />
            <layout type="log4net.Layout.SimpleLayout" />
        </appender>
        <root>
            <level value="ALL" />
        </root>
        <logger name="pomeLogger">
            <level value="OFF" />
            <appender-ref ref="ErrorFileAppender" />
        </logger>
    </log4net>

	
	<location path="Registracion">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>
	
    <location path="Controles">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="css">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>

    <location path="css/default">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>

    <location path="img">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>

    <location path="js">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>

    <location path="js/plugins">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>

    <location path="Login">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>
	
	<location path="handlerspublic">
        <system.web>
            <authorization>
                <allow users="*"/>
            </authorization>
        </system.web>
    </location>
	
    <system.webServer>
        <httpErrors>
            <remove statusCode="502" subStatusCode="-1" />
            <remove statusCode="501" subStatusCode="-1" />
            <remove statusCode="500" subStatusCode="-1" />
            <remove statusCode="412" subStatusCode="-1" />
            <remove statusCode="406" subStatusCode="-1" />
            <remove statusCode="405" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <remove statusCode="403" subStatusCode="-1" />
            <remove statusCode="401" subStatusCode="-1" />
            <remove statusCode="400" />
            <error statusCode="400" path="C:\Inetpub\vhosts\argentina-hosting.com\error_docs\bad_request.html" />
            <remove statusCode="407" />
            <error statusCode="407" path="C:\Inetpub\vhosts\argentina-hosting.com\error_docs\proxy_authentication_required.html" />
            <remove statusCode="414" />
            <error statusCode="414" path="C:\Inetpub\vhosts\argentina-hosting.com\error_docs\request-uri_too_long.html" />
            <remove statusCode="415" />
            <error statusCode="415" path="C:\Inetpub\vhosts\argentina-hosting.com\error_docs\unsupported_media_type.html" />
            <remove statusCode="503" />
            <error statusCode="503" path="C:\Inetpub\vhosts\argentina-hosting.com\error_docs\maintenance.html" />
            <error statusCode="401" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\argentina-hosting.com\error_docs\unauthorized.html" />
            <error statusCode="403" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\argentina-hosting.com\error_docs\forbidden.html" />
            <error statusCode="404" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\argentina-hosting.com\error_docs\not_found.html" />
            <error statusCode="405" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\argentina-hosting.com\error_docs\method_not_allowed.html" />
            <error statusCode="406" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\argentina-hosting.com\error_docs\not_acceptable.html" />
            <error statusCode="412" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\argentina-hosting.com\error_docs\precondition_failed.html" />
            <error statusCode="500" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\argentina-hosting.com\error_docs\internal_server_error.html" />
            <error statusCode="501" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\argentina-hosting.com\error_docs\not_implemented.html" />
            <error statusCode="502" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\argentina-hosting.com\error_docs\bad_gateway.html" />
        </httpErrors>
    
		<handlers>
		  <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
		  <remove name="OPTIONSVerbHandler" />
		  <remove name="TRACEVerbHandler" />
		  <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
	  </system.webServer>    
</configuration>
